.packages_left_Section_1 {
    font-size: 32px;
    color: #8c52ff;
    font-weight: 700;
}
.packages_Subheading{

    font-size: 18px;
    font-weight: 500;
    
}
  
  .inner-text {
    line-height: 1.2;
  }
  